<div class="topnav">
    <a href="productCategories.jsp">Product Categories</a>
    <a href="products.jsp">Products</a>
    <a href="orders.jsp">Orders</a>
    <a href="registrationDemo.jsp">Registration Demo</a>
</div>